.paw {
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 6px;
}

.full {
  background-image: url('/assets/full.png');
}

.half {
  background-image: url('/assets/half.png');
}

.empty {
  background-image: url('/assets/empty.png');
}

.big {
  width: 18px;
  height: 18px;
}

.small {
  width: 16px;
  height: 16px;
}